@page "/counter"

<PageTitle>Apfelzähler</PageTitle>

<h1>Counter</h1>

<p role="status">Sie haben so viele Äpfel: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Apfel 1</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
