@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@* 
    NavMenu-Komponente für die Hauptnavigation der ShareIt-Anwendung.
    Zeigt abhängig vom Login-Status dynamisch Links wie "Artikel hochladen" und "Meine Verläufe" an.
*@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ShareIt</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @* 
              Zeigt bestimmte Navigationseinträge nur für angemeldete Benutzer an.
        *@
        <AuthorizeView>
            <NotAuthorized>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="upload-food-item">
                        <span class="oi oi-cloud-upload" aria-hidden="true"></span> Artikel hochladen
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="verlauf">
                        <span class="oi oi-clock" aria-hidden="true"></span> Meine Verläufe
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    // Gibt die CSS-Klasse für das Menü zurück, abhängig vom Zustand
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        // Umschalten des Zustands des Navigationsmenüs beim Klick auf den Toggler
        collapseNavMenu = !collapseNavMenu;
    }
}